<section class="covers-section">
  <div class="container covers-container">
    <h2 class="covers-section-title visually-hidden">Covers</h2>
    <ul class="first-row-list covers-list">
      <li class="first-row-item">
        <img
          class="covers-image"
          srcset="
            ../img/covers/site-ehego.jpg    1x,
            ../img/covers/site-ehego@2x.jpg 2x
          "
          src="../img/covers/site-ehego.jpg"
          alt="ehego-website"
        />
      </li>
      <li class="first-row-item">
        <img
          class="covers-image"
          srcset="
            ../img/covers/site-energy.jpg    1x,
            ../img/covers/site-energy@2x.jpg 2x
          "
          src="../img/covers/site-energy.jpg"
          alt="energy-flow-website"
        />
      </li>
      <li class="first-row-item">
        <img
          class="covers-image"
          srcset="
            ../img/covers/site-english.jpg    1x,
            ../img/covers/site-english@2x.jpg 2x
          "
          src="../img/covers/site-english.jpg"
          alt="english-excellence-website"
        />
      </li>
      <li class="first-row-item">
        <img
          class="covers-image"
          srcset="
            ../img/covers/site-wallet.jpg    1x,
            ../img/covers/site-wallet@2x.jpg 2x
          "
          src="../img/covers/site-wallet.jpg"
          alt="english-excellence-website"
        />
      </li>
      <li class="second-row-item">
        <img
          class="covers-image"
          srcset="
            ../img/covers/site-fruits.jpg    1x,
            ../img/covers/site-fruits@2x.jpg 2x
          "
          src="../img/covers/site-fruits.jpg"
          alt="fruit-box-website"
        />
      </li>
      <li class="second-row-item">
        <img
          class="covers-image"
          srcset="
            ../img/covers/site-green-harvest.png    1x,
            ../img/covers/site-green-harvest@2x.png 2x
          "
          src="../img/covers/site-green-harvest.png"
          alt="green-harvest-website"
        />
      </li>
      <li class="second-row-item">
        <img
          class="covers-image"
          srcset="
            ../img/covers/site-mimino.png    1x,
            ../img/covers/site-mimino@2x.png 2x
          "
          src="../img/covers/site-mimino.png"
          alt="mimino-website"
        />
      </li>
      <li class="second-row-item">
        <img
          class="covers-image"
          srcset="
            ../img/covers/site-ehego.jpg    1x,
            ../img/covers/site-ehego@2x.jpg 2x
          "
          src="../img/covers/site-ehego.jpg"
          alt="mimino-website"
        />
      </li>
      <li class="first-row-item">
        <img
          class="covers-image"
          srcset="
            ../img/covers/site-power.jpg    1x,
            ../img/covers/site-power@2x.jpg 2x
          "
          src="../img/covers/site-power.jpg"
          alt="power-pulse-website"
        />
      </li>
      <li class="first-row-item">
        <img
          class="covers-image"
          srcset="
            ../img/covers/site-starlight.jpg    1x,
            ../img/covers/site-starlight@2x.jpg 2x
          "
          src="../img/covers/site-starlight.jpg"
          alt="starlight-studio-website"
        />
      </li>
      <li class="first-row-item">
        <img
          class="covers-image"
          srcset="
            ../img/covers/site-vyshyvanka.jpg    1x,
            ../img/covers/site-vyshyvanka@2x.jpg 2x
          "
          src="../img/covers/site-vyshyvanka.jpg"
          alt="vyshyvanka-website"
        />
      </li>
      <li class="first-row-item">
        <img
          class="covers-image"
          srcset="
            ../img/covers/site-energy.jpg    1x,
            ../img/covers/site-energy@2x.jpg 2x
          "
          src="../img/covers/site-energy.jpg"
          alt="vyshyvanka-website"
        />
      </li>
      <li class="second-row-item">
        <img
          class="covers-image"
          srcset="
            ../img/covers/site-wallet.jpg    1x,
            ../img/covers/site-wallet@2x.jpg 2x
          "
          src="../img/covers/site-wallet.jpg"
          alt="wallet-website"
        />
      </li>
      <li class="second-row-item">
        <img
          class="covers-image"
          srcset="
            ../img/covers/site-ehego.jpg    1x,
            ../img/covers/site-ehego@2x.jpg 2x
          "
          src="../img/covers/site-ehego.jpg"
          alt="ehego-website"
        />
      </li>
      <li class="second-row-item">
        <img
          class="covers-image"
          srcset="
            ../img/covers/site-energy.jpg    1x,
            ../img/covers/site-energy@2x.jpg 2x
          "
          src="../img/covers/site-energy.jpg"
          alt="energy-flow-website"
        />
      </li>
    </ul>
  </div>
</section>
<section>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero eligendi
    harum accusantium sit ipsam inventore ducimus temporibus deleniti architecto
    veniam nihil tempore, voluptatem animi neque delectus placeat perferendis
    quas! Ullam dignissimos nesciunt et in ratione aspernatur officiis quisquam,
    ad saepe, facilis beatae voluptate! Explicabo vitae veritatis voluptates
    minus expedita! Sequi tempore eaque provident! Repellat, dolorum fugiat
    quaerat odio vitae suscipit enim quo quisquam, incidunt ipsum nisi veniam
    iusto? Tenetur atque eligendi quis nulla veniam, quo molestias non quidem
    praesentium laudantium nam distinctio assumenda fuga repellendus iste
    pariatur quisquam doloribus tempora dolorem ea! Porro distinctio voluptate
    qui impedit aliquid tempore, a saepe deleniti adipisci ab eum expedita
    beatae omnis ad asperiores, voluptatum vero illum libero est dolor dolore.
    Iste vitae laboriosam, nihil tempore dicta, dolorum fuga aliquam eum
    mollitia blanditiis amet quod quos libero excepturi deserunt voluptatum quam
    hic officia illum! Commodi dolores porro maxime debitis adipisci fuga
    molestias neque similique consectetur mollitia qui cupiditate ipsam tenetur,
    inventore doloremque, necessitatibus repellat aliquam. Ab ut ducimus natus
    dolorem nulla illum obcaecati perferendis omnis autem nam ipsa suscipit
    dolores quidem, amet, sint, veritatis consectetur fugiat esse eum mollitia
    ipsum cumque repellat! Est perferendis a mollitia nostrum repudiandae
    voluptate adipisci libero modi minima consectetur voluptates explicabo
    delectus blanditiis error fuga provident ullam facilis, esse recusandae?
    Eveniet eligendi, tempora officia blanditiis reiciendis molestiae laudantium
    repellendus, quibusdam necessitatibus aliquam nemo ipsa quisquam dignissimos
    quia quae voluptas. Ab obcaecati, dolorem quaerat porro ex labore natus
    fugiat, similique in voluptas omnis quas iste laboriosam sed minima quis
    aperiam vitae tenetur illo delectus, explicabo optio. Numquam vitae
    consequatur quidem debitis nisi repellat, eveniet excepturi sunt? Magnam et
    accusamus sed veritatis reprehenderit aperiam, doloremque exercitationem!
    Illo doloribus quos ab dolorem sit adipisci sapiente laboriosam dolores
    exercitationem, voluptatem incidunt ducimus harum repellendus. Ipsa soluta
    deleniti magni ad, minus ducimus quaerat iusto veniam ut voluptate unde
    obcaecati iste. Debitis corporis error aut, quae perspiciatis repellat
    deleniti quia unde consequatur accusantium voluptatem eaque earum velit quas
    perferendis voluptatibus iusto, expedita a deserunt quaerat eveniet possimus
    amet nam cum. Velit expedita animi temporibus officia alias non pariatur
    tenetur doloremque doloribus praesentium, natus asperiores sint ex deserunt
    amet assumenda earum architecto, omnis blanditiis nostrum repellendus enim.
    Modi, impedit amet dolore error odio dolores asperiores, officia, reiciendis
    eius quaerat similique! Quibusdam vitae provident natus eveniet odit
    delectus iure omnis expedita atque cupiditate fugiat numquam animi
    voluptatibus, debitis id maxime voluptatum, rem a earum. Adipisci eveniet
    corrupti dignissimos suscipit sed. Atque vel ex necessitatibus similique
    reprehenderit consequuntur id voluptatem expedita sint debitis ipsum eos est
    quis reiciendis magnam quasi consectetur eum dicta in, voluptates nesciunt
    quisquam possimus suscipit. Error nam numquam fuga qui eligendi harum libero
    architecto labore blanditiis voluptate enim officia accusantium reiciendis
    nesciunt adipisci, sed corporis est ducimus? Voluptas similique quia sit
    dolorum culpa ab magnam esse, blanditiis aperiam. Provident nam, iure, quas
    praesentium aperiam officiis tempora exercitationem voluptatum suscipit aut
    dolorem ab quod dicta magnam eius nostrum hic totam quis. Magni, eveniet
    facere! Odio laudantium totam eveniet excepturi, unde et sequi velit a!
    Exercitationem, voluptate fugiat blanditiis quae maxime, voluptatum nam ea
    iure porro vitae modi omnis! Ratione aut fugiat neque reprehenderit
    veritatis. Quibusdam eum dolores perspiciatis doloremque modi cumque, minima
    ab animi saepe iste nostrum voluptates ex aliquid sed earum praesentium
    quidem at doloribus, itaque cum illo quo, repudiandae sit? Excepturi alias
    expedita delectus praesentium, illo nobis totam enim error. Repudiandae
    cumque dolores cupiditate, vero excepturi tempore voluptatum in non nesciunt
    aspernatur, corrupti esse aliquam iusto. Aperiam, cupiditate? Odit
    repellendus ea laborum doloribus molestias! Ab suscipit, impedit repellendus
    a facere pariatur perspiciatis praesentium, totam nisi at nemo similique
    facilis recusandae fuga dolor aut cum maiores est esse delectus labore quam
    quas soluta! Quod aspernatur molestiae nulla harum minus accusamus voluptas,
    non dolor velit provident dicta optio laborum dolore deserunt molestias
    officiis quidem quis impedit nesciunt obcaecati? Excepturi doloremque odit,
    architecto aspernatur perspiciatis id nisi earum tempore ex a alias itaque
    quasi voluptate laboriosam vero expedita temporibus quas laborum. Ullam vel
    commodi molestias molestiae adipisci sapiente consequuntur itaque dolorem
    veniam tenetur unde nostrum alias placeat, ea saepe ut consequatur illo
    laudantium omnis impedit, corrupti iusto provident distinctio? Est,
    molestiae laborum! Aliquid et aperiam minus? Et, non aliquid voluptas
    possimus quisquam beatae! Et doloremque nobis cupiditate iure esse, sed
    provident porro, ullam dicta pariatur nisi architecto distinctio, repellat
    maiores delectus ad aspernatur laboriosam obcaecati magni veritatis?
    Repellat quis iste dolor sunt explicabo error vitae, facilis delectus sequi
    molestiae ducimus, nulla possimus a laboriosam, voluptatibus magnam
    perspiciatis. Aut adipisci iure nisi alias culpa atque repudiandae aliquid
    cupiditate sit quis quo iste officia, facilis, ullam fuga, cumque quos.
    Earum quae sint repudiandae officia odit? Labore nam, quaerat optio dolorem
    ipsa ad rem, nisi nobis est eveniet unde excepturi mollitia accusamus quod
    dolor quis non delectus adipisci, eius cum placeat. Iste vero commodi quasi
    numquam. Delectus consequatur accusamus nihil odit at expedita amet
    perspiciatis enim repellat architecto odio sit quaerat esse quia ut ullam,
    alias molestiae quisquam porro illo maiores perferendis? Dignissimos
    sapiente optio quidem eum architecto consectetur, minima molestias est quia
    eveniet doloribus voluptate, velit incidunt quod amet et, officia illo
    ducimus ut voluptatibus odio quisquam? Atque explicabo saepe rem architecto
    minus facere odit, inventore, provident voluptatem possimus officia commodi
    aut a ipsum culpa? Officiis, laborum expedita corporis optio obcaecati
    ratione quia culpa, iure cum maiores ex nesciunt nobis dolorem? Magnam sequi
    eveniet cumque et quos, beatae excepturi laudantium ipsam, blanditiis,
    facilis totam quis. Enim blanditiis vel veniam animi pariatur laudantium
    officia, ex ipsam quasi ab sunt debitis quo nostrum. Vero sequi corrupti
    natus nisi optio dolore ducimus eos asperiores consequatur ipsum molestiae
    voluptate ut id tenetur pariatur facilis, corporis placeat excepturi
    perferendis? Sint neque sequi deleniti veniam asperiores obcaecati
    consequuntur quia culpa molestias eveniet, omnis, perferendis explicabo
    tenetur atque? Vitae eum porro facilis maxime, molestiae non perferendis
    consectetur quibusdam voluptas quos necessitatibus debitis nemo voluptatum
    inventore aperiam explicabo laudantium earum, optio id assumenda placeat,
    fugiat rerum in. Magnam dolorem dolore sunt fugiat unde, facilis corporis
    vel dignissimos omnis dolorum incidunt. Dicta nobis distinctio nesciunt est
    vel voluptatem. Blanditiis impedit temporibus reiciendis nesciunt officiis
    nulla consequuntur dicta debitis earum? Iste totam eius quibusdam voluptas
    ipsum aspernatur sapiente blanditiis ratione iusto consequuntur voluptate
    provident nulla soluta, voluptatibus fugiat commodi! Ea accusamus nostrum
    consequatur esse perferendis inventore nulla officia pariatur, nam corrupti
    praesentium quibusdam, aspernatur voluptate atque libero! Delectus unde
    explicabo, maxime sed mollitia distinctio nulla corporis amet vero illo
    magnam iure eum ut nesciunt ducimus modi quam ipsam officiis, aspernatur
    reprehenderit non nam. Commodi, odit ducimus quam ipsa sapiente accusantium
    veniam, excepturi qui deserunt animi reiciendis consequatur totam itaque ex
    doloremque esse vel sint neque nihil corporis quibusdam? Quia illo placeat,
    itaque nulla quaerat deserunt corrupti nam ipsa possimus tempore eligendi
    iste inventore, reprehenderit fugit unde molestias culpa voluptate incidunt
    et esse? Optio, debitis vel. Eveniet illo pariatur voluptate vel rerum alias
    laborum beatae, expedita praesentium nostrum asperiores, hic magni
    repudiandae. Architecto quasi iste reprehenderit mollitia enim esse
    laudantium saepe explicabo sint nesciunt dolorum optio debitis aliquam eum
    asperiores a, ab amet nam quam deleniti doloremque, consectetur quidem ipsam
    tenetur. Est ad nemo quaerat atque similique quam, quia, illo autem neque,
    consequuntur dolor nisi. Molestiae atque nemo quod corrupti labore pariatur
    sint, perspiciatis mollitia, cupiditate itaque, sed repellendus ab in!
    Similique porro pariatur officiis distinctio magnam corporis, voluptatibus
    nihil earum libero iste odit laboriosam magni, consequatur possimus veniam a
    unde veritatis ut consequuntur tempore doloremque, itaque amet explicabo
    fuga! Aliquam maiores soluta harum a magnam beatae molestiae perspiciatis
    porro aliquid, sunt itaque accusantium vero. Similique cumque nihil
    consequatur quisquam reiciendis corrupti incidunt tempore voluptas hic autem
    nisi voluptatibus iusto delectus officia blanditiis, voluptate minus fugit
    fuga aspernatur doloremque nostrum? Sint atque ex magni provident doloribus
    incidunt molestiae reprehenderit rem alias quia. Voluptate tenetur rem est
    nisi iste tempora voluptates? Quidem hic, a qui ratione delectus asperiores
    omnis quae molestiae beatae. Ea, id, soluta deleniti inventore suscipit,
    nostrum quasi perspiciatis error sapiente quod quae enim doloremque a. Culpa
    fugit facilis numquam expedita animi nobis, quia ex quo beatae aliquam
    tempore, cum voluptatibus quisquam quas illo? Illum unde ad, perspiciatis,
    error aliquid assumenda eius dolores quos maiores mollitia inventore
    pariatur veniam aut distinctio dicta nulla nostrum optio rem porro suscipit.
    Quod est qui, magnam tempore recusandae dolore consequatur asperiores
    provident dolorem, reiciendis velit officiis saepe officia eligendi
    repellendus sequi numquam quisquam! Dicta dolor eligendi reiciendis deserunt
    veritatis, magni voluptatem consequatur? Aliquid neque tempore eligendi, ex
    reiciendis sapiente, nisi repellat accusantium quidem inventore at quam
    assumenda exercitationem delectus atque nostrum quos beatae recusandae!
    Expedita velit, inventore adipisci illo corrupti laborum reiciendis
    recusandae explicabo vel accusantium ducimus quisquam consequatur nemo
    voluptate laboriosam quam eligendi perspiciatis itaque facilis iste? Magnam
    et ut incidunt, autem iste harum deleniti aspernatur ullam nostrum quos
    delectus deserunt neque omnis est assumenda a vero illo quas amet? Porro
    ipsum autem impedit, delectus rem minus reprehenderit accusantium architecto
    quae officiis illo cupiditate animi labore sequi aspernatur nostrum
    excepturi laborum ratione totam veniam quos repudiandae eveniet fugit?
    Voluptatum velit aspernatur, obcaecati autem iste id? Facilis voluptate ab
    nostrum! Sunt nisi praesentium consequuntur mollitia laudantium iste
    nesciunt accusamus ipsam error corrupti beatae eaque laboriosam ullam,
    veniam nihil deleniti est temporibus, rem quisquam ex. Optio ipsum possimus
    nisi placeat deserunt incidunt sapiente et sed veritatis dolor saepe, quia,
    vero eos natus veniam illo aperiam nostrum enim inventore fuga voluptas
    ducimus? Perspiciatis ex, ullam quam, inventore minima optio velit, ipsam
    quia consequuntur nemo vel. Exercitationem veniam pariatur culpa quasi
    aliquam aliquid, quia reprehenderit neque autem magni eius. Consequuntur
    mollitia tempora voluptate cumque quis, soluta quod odio dolorem possimus
    consequatur voluptatum deserunt praesentium doloribus quae labore,
    voluptates eligendi deleniti explicabo iste eos at recusandae. Libero earum
    distinctio asperiores minima expedita atque natus aspernatur eos optio est
    consectetur excepturi in, at perspiciatis, minus qui, magni possimus!
    Voluptatibus eligendi est laborum, in corrupti quidem tempore pariatur sed
    odit at eaque, repellat consequatur perspiciatis expedita fugit dolor
    libero! Rerum, laborum magnam. Recusandae laborum optio consequuntur ratione
    dignissimos. Ducimus earum excepturi cum, dolore quo architecto repellendus
    ut aspernatur quisquam officiis tempora accusamus soluta pariatur,
    necessitatibus vero! Amet aspernatur suscipit nihil ad debitis, rem quia
    iure maxime officiis eaque deleniti reprehenderit commodi in pariatur
    eligendi eveniet! Quasi, illum laudantium! Doloremque, mollitia modi
    explicabo ab assumenda ullam minima et excepturi, molestias pariatur maxime
    maiores, nemo minus? Veniam soluta, necessitatibus nihil quas, ratione
    voluptatem explicabo consectetur ducimus quasi doloribus sed ipsum,
    recusandae accusamus. Voluptatum nobis quis temporibus, dignissimos aut ipsa
    similique rem voluptatem odit asperiores accusantium expedita tempore,
    accusamus at maxime ipsam minus, recusandae iste fugiat possimus dolorum
    quidem consequatur illo quasi? Sequi rerum enim temporibus minima quam culpa
    excepturi sed officiis dolores doloribus nesciunt blanditiis libero ullam
    facilis voluptatum obcaecati atque, necessitatibus reprehenderit fugiat,
    deleniti saepe illum placeat! Ex distinctio amet cumque eius cupiditate
    maiores pariatur, magni animi doloremque quis cum, nemo laborum! Omnis
    perferendis incidunt dolorum. Nemo temporibus sunt voluptates eveniet, nihil
    sapiente amet rem, id illo mollitia dicta? Sint non dolores dicta in
    repellat fugiat maxime modi delectus harum cumque! Corrupti sint iure nemo
    perferendis architecto vero voluptatum vitae esse enim ad qui quos eveniet
    quisquam quaerat dolorum quibusdam, numquam veritatis doloribus dignissimos
    illum voluptates quidem, quam necessitatibus? Eligendi quidem quasi ullam,
    maiores dolorum error et soluta reprehenderit iure incidunt sapiente laborum
    saepe ab libero recusandae maxime iste laudantium facere harum culpa
    reiciendis numquam. Provident voluptatum, velit fugit dolores corporis
    aspernatur non explicabo consectetur quos aliquid sequi, repudiandae ullam
    voluptatibus libero eius fuga officia adipisci veniam soluta! Quidem magnam
    veniam repudiandae, odio voluptate deserunt nostrum cupiditate, eaque omnis,
    consectetur eligendi laborum quo quas inventore rem fuga minima maiores?
    Nemo veniam ipsum deserunt natus, sapiente deleniti alias porro quasi fuga.
    Veritatis, aliquid! Possimus error aspernatur quidem impedit nostrum
    suscipit autem veniam architecto corporis in nobis iste optio ad tenetur
    deleniti voluptate quo nulla laboriosam, repellat rerum voluptatem minus!
    Nam, perspiciatis. Atque quam nisi eius non. Doloribus iusto quam id earum
    sapiente qui officia architecto, velit non quod fuga repudiandae
    consectetur. Amet iusto modi nesciunt est distinctio, repellendus,
    accusantium architecto illo veritatis sit dolor veniam id? Animi hic amet
    magni.
  </p>
</section>
