<section>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed nam odit cum
    harum molestias mollitia dignissimos unde sequi sapiente dolorum! Neque in
    cupiditate quidem necessitatibus odio id architecto iusto, voluptatum,
    ratione maiores corporis est autem repudiandae veritatis debitis ullam ab
    possimus rem quos eveniet natus corrupti quas sunt! Nihil quidem placeat,
    numquam sed nostrum assumenda repellendus! Quas explicabo dolore error
    dolorum saepe excepturi reprehenderit pariatur ab quos? Beatae voluptatibus
    eligendi, aut nulla nobis voluptatem eveniet neque omnis inventore
    temporibus dolorem tempora laborum natus ipsam sed eius nam in earum sequi
    mollitia assumenda hic pariatur? Inventore natus ratione earum vero minima
    officiis dolore suscipit? Rerum vel cumque similique earum provident modi
    incidunt, deleniti assumenda deserunt dolores? Cum neque, sit ad aliquid
    labore ab totam repudiandae voluptatibus assumenda molestiae, tenetur
    inventore quibusdam autem error illo voluptas molestias dolor unde laborum
    doloribus ipsam repellat, rem praesentium vel! Odio, laudantium iste non
    dicta reiciendis animi fuga laboriosam provident deserunt tempore, dolore
    fugiat, corrupti sit corporis delectus possimus velit libero labore
    doloremque consectetur ipsam fugit sapiente. Laboriosam incidunt consectetur
    repellat eaque obcaecati temporibus quia, ex consequatur a nesciunt vero
    nobis similique, sunt excepturi tenetur eum illum vel deleniti dolores
    eveniet minima. Fuga, nesciunt et vitae ipsum dignissimos non libero enim?
    Iste, nam tenetur. Tempora nostrum perferendis placeat autem delectus vero
    temporibus ducimus fugiat esse illo minus, dolorem culpa illum modi eveniet,
    suscipit blanditiis labore aspernatur. Dignissimos ipsa vitae magnam aut
    doloribus esse iure, maiores quas consectetur ab eligendi accusamus ad quae
    at libero repellat, inventore dolorem unde cumque voluptate sed molestiae
    sit culpa? Minus corrupti autem expedita ipsum, beatae dolore incidunt harum
    labore ratione ipsam vero assumenda pariatur mollitia, vitae animi odio
    repellat ea aperiam reprehenderit veniam cupiditate est eligendi iusto
    blanditiis. Consectetur adipisci porro alias vel! Quos laborum numquam, at
    harum accusantium rerum eius ab explicabo distinctio temporibus culpa iusto
    vitae facilis. Qui ullam, facere unde repudiandae veniam, laudantium
    cupiditate dolorum facilis corporis quam vitae ratione eligendi possimus
    beatae hic. Magnam ipsa repellat mollitia itaque. Praesentium aut, placeat
    expedita vel ratione possimus iusto. Voluptates iste omnis, nostrum
    voluptatibus repudiandae quo dolor aspernatur saepe unde ex vitae
    reprehenderit itaque accusantium tempore labore facilis minima, error quod
    illum obcaecati laborum autem maxime! Sint rerum officiis inventore, dolore
    reprehenderit similique voluptatibus, sed quaerat repudiandae libero
    laboriosam debitis, impedit animi esse porro aliquid doloremque accusamus
    cumque in tempore unde! Rem iste perspiciatis expedita voluptates repellat
    voluptatibus eligendi inventore minima dignissimos hic. Quo voluptate
    nostrum eius similique libero delectus cum vero adipisci iure repellat
    corrupti esse officia odit soluta, accusantium aliquid recusandae et quae ab
    asperiores ratione, minus nemo saepe? Debitis ipsam quasi, ipsum nulla,
    necessitatibus voluptates vel fuga velit vitae repudiandae consequatur
    aliquid iusto rerum commodi consequuntur placeat quam minima beatae a iure.
    Voluptate dicta voluptatum repellendus deleniti, eligendi mollitia officia
    esse ipsa dignissimos ad. Molestias obcaecati totam quam ipsum quidem
    reprehenderit cupiditate, mollitia cumque provident repudiandae ab et enim
    aut adipisci delectus beatae ratione, dolorem velit vitae quas perspiciatis.
    Ducimus illum temporibus accusantium, dolorum repellat recusandae odit?
  </p>
</section>

<section class="covers-section">
  <div class="container covers-container">
    <h2 class="covers-section-title visually-hidden">Covers</h2>
    <ul class="first-row-list covers-list">
      <li class="first-row-item">
        <img
          class="covers-image"
          srcset="
            ../img/covers/site-ehego.jpg    1x,
            ../img/covers/site-ehego@2x.jpg 2x
          "
          src="../img/covers/site-ehego.jpg"
          alt="ehego-website"
        />
      </li>
      <li class="first-row-item">
        <img
          class="covers-image"
          srcset="
            ../img/covers/site-energy.jpg    1x,
            ../img/covers/site-energy@2x.jpg 2x
          "
          src="../img/covers/site-energy.jpg"
          alt="energy-flow-website"
        />
      </li>
      <li class="first-row-item">
        <img
          class="covers-image"
          srcset="
            ../img/covers/site-english.jpg    1x,
            ../img/covers/site-english@2x.jpg 2x
          "
          src="../img/covers/site-english.jpg"
          alt="english-excellence-website"
        />
      </li>
      <li class="first-row-item">
        <img
          class="covers-image"
          srcset="
            ../img/covers/site-wallet.jpg    1x,
            ../img/covers/site-wallet@2x.jpg 2x
          "
          src="../img/covers/site-wallet.jpg"
          alt="english-excellence-website"
        />
      </li>
      <li class="second-row-item">
        <img
          class="covers-image"
          srcset="
            ../img/covers/site-fruits.jpg    1x,
            ../img/covers/site-fruits@2x.jpg 2x
          "
          src="../img/covers/site-fruits.jpg"
          alt="fruit-box-website"
        />
      </li>
      <li class="second-row-item">
        <img
          class="covers-image"
          srcset="
            ../img/covers/site-green-harvest.png    1x,
            ../img/covers/site-green-harvest@2x.png 2x
          "
          src="../img/covers/site-green-harvest.png"
          alt="green-harvest-website"
        />
      </li>
      <li class="second-row-item">
        <img
          class="covers-image"
          srcset="
            ../img/covers/site-mimino.png    1x,
            ../img/covers/site-mimino@2x.png 2x
          "
          src="../img/covers/site-mimino.png"
          alt="mimino-website"
        />
      </li>
      <li class="second-row-item">
        <img
          class="covers-image"
          srcset="
            ../img/covers/site-ehego.jpg    1x,
            ../img/covers/site-ehego@2x.jpg 2x
          "
          src="../img/covers/site-ehego.jpg"
          alt="mimino-website"
        />
      </li>
      <li class="first-row-item">
        <img
          class="covers-image"
          srcset="
            ../img/covers/site-power.jpg    1x,
            ../img/covers/site-power@2x.jpg 2x
          "
          src="../img/covers/site-power.jpg"
          alt="power-pulse-website"
        />
      </li>
      <li class="first-row-item">
        <img
          class="covers-image"
          srcset="
            ../img/covers/site-starlight.jpg    1x,
            ../img/covers/site-starlight@2x.jpg 2x
          "
          src="../img/covers/site-starlight.jpg"
          alt="starlight-studio-website"
        />
      </li>
      <li class="first-row-item">
        <img
          class="covers-image"
          srcset="
            ../img/covers/site-vyshyvanka.jpg    1x,
            ../img/covers/site-vyshyvanka@2x.jpg 2x
          "
          src="../img/covers/site-vyshyvanka.jpg"
          alt="vyshyvanka-website"
        />
      </li>
      <li class="first-row-item">
        <img
          class="covers-image"
          srcset="
            ../img/covers/site-energy.jpg    1x,
            ../img/covers/site-energy@2x.jpg 2x
          "
          src="../img/covers/site-energy.jpg"
          alt="vyshyvanka-website"
        />
      </li>
      <li class="second-row-item">
        <img
          class="covers-image"
          srcset="
            ../img/covers/site-wallet.jpg    1x,
            ../img/covers/site-wallet@2x.jpg 2x
          "
          src="../img/covers/site-wallet.jpg"
          alt="wallet-website"
        />
      </li>
      <li class="second-row-item">
        <img
          class="covers-image"
          srcset="
            ../img/covers/site-ehego.jpg    1x,
            ../img/covers/site-ehego@2x.jpg 2x
          "
          src="../img/covers/site-ehego.jpg"
          alt="ehego-website"
        />
      </li>
      <li class="second-row-item">
        <img
          class="covers-image"
          srcset="
            ../img/covers/site-energy.jpg    1x,
            ../img/covers/site-energy@2x.jpg 2x
          "
          src="../img/covers/site-energy.jpg"
          alt="energy-flow-website"
        />
      </li>
    </ul>
  </div>

  <script src="../js/covers.js" type="module"></script>
</section>

<section>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed nam odit cum
    harum molestias mollitia dignissimos unde sequi sapiente dolorum! Neque in
    cupiditate quidem necessitatibus odio id architecto iusto, voluptatum,
    ratione maiores corporis est autem repudiandae veritatis debitis ullam ab
    possimus rem quos eveniet natus corrupti quas sunt! Nihil quidem placeat,
    numquam sed nostrum assumenda repellendus! Quas explicabo dolore error
    dolorum saepe excepturi reprehenderit pariatur ab quos? Beatae voluptatibus
    eligendi, aut nulla nobis voluptatem eveniet neque omnis inventore
    temporibus dolorem tempora laborum natus ipsam sed eius nam in earum sequi
    mollitia assumenda hic pariatur? Inventore natus ratione earum vero minima
    officiis dolore suscipit? Rerum vel cumque similique earum provident modi
    incidunt, deleniti assumenda deserunt dolores? Cum neque, sit ad aliquid
    labore ab totam repudiandae voluptatibus assumenda molestiae, tenetur
    inventore quibusdam autem error illo voluptas molestias dolor unde laborum
    doloribus ipsam repellat, rem praesentium vel! Odio, laudantium iste non
    dicta reiciendis animi fuga laboriosam provident deserunt tempore, dolore
    fugiat, corrupti sit corporis delectus possimus velit libero labore
    doloremque consectetur ipsam fugit sapiente. Laboriosam incidunt consectetur
    repellat eaque obcaecati temporibus quia, ex consequatur a nesciunt vero
    nobis similique, sunt excepturi tenetur eum illum vel deleniti dolores
    eveniet minima. Fuga, nesciunt et vitae ipsum dignissimos non libero enim?
    Iste, nam tenetur. Tempora nostrum perferendis placeat autem delectus vero
    temporibus ducimus fugiat esse illo minus, dolorem culpa illum modi eveniet,
    suscipit blanditiis labore aspernatur. Dignissimos ipsa vitae magnam aut
    doloribus esse iure, maiores quas consectetur ab eligendi accusamus ad quae
    at libero repellat, inventore dolorem unde cumque voluptate sed molestiae
    sit culpa? Minus corrupti autem expedita ipsum, beatae dolore incidunt harum
    labore ratione ipsam vero assumenda pariatur mollitia, vitae animi odio
    repellat ea aperiam reprehenderit veniam cupiditate est eligendi iusto
    blanditiis. Consectetur adipisci porro alias vel! Quos laborum numquam, at
    harum accusantium rerum eius ab explicabo distinctio temporibus culpa iusto
    vitae facilis. Qui ullam, facere unde repudiandae veniam, laudantium
    cupiditate dolorum facilis corporis quam vitae ratione eligendi possimus
    beatae hic. Magnam ipsa repellat mollitia itaque. Praesentium aut, placeat
    expedita vel ratione possimus iusto. Voluptates iste omnis, nostrum
    voluptatibus repudiandae quo dolor aspernatur saepe unde ex vitae
    reprehenderit itaque accusantium tempore labore facilis minima, error quod
    illum obcaecati laborum autem maxime! Sint rerum officiis inventore, dolore
    reprehenderit similique voluptatibus, sed quaerat repudiandae libero
    laboriosam debitis, impedit animi esse porro aliquid doloremque accusamus
    cumque in tempore unde! Rem iste perspiciatis expedita voluptates repellat
    voluptatibus eligendi inventore minima dignissimos hic. Quo voluptate
    nostrum eius similique libero delectus cum vero adipisci iure repellat
    corrupti esse officia odit soluta, accusantium aliquid recusandae et quae ab
    asperiores ratione, minus nemo saepe? Debitis ipsam quasi, ipsum nulla,
    necessitatibus voluptates vel fuga velit vitae repudiandae consequatur
    aliquid iusto rerum commodi consequuntur placeat quam minima beatae a iure.
    Voluptate dicta voluptatum repellendus deleniti, eligendi mollitia officia
    esse ipsa dignissimos ad. Molestias obcaecati totam quam ipsum quidem
    reprehenderit cupiditate, mollitia cumque provident repudiandae ab et enim
    aut adipisci delectus beatae ratione, dolorem velit vitae quas perspiciatis.
    Ducimus illum temporibus accusantium, dolorum repellat recusandae odit?
  </p>
</section>
