<section class="covers-section">
  <div class="container covers-container">
    <h2 class="covers-section-title visually-hidden">Covers</h2>
    <ul class="first-row-list covers-list">
      <li class="first-row-item animate">
        <img
          class="covers-image"
          srcset="
            ../img/covers/site-ehego.jpg    1x,
            ../img/covers/site-ehego@2x.jpg 2x
          "
          src="../img/covers/site-ehego.jpg"
          alt="ehego-website"
        />
      </li>
      <li class="first-row-item animate">
        <img
          class="covers-image"
          srcset="
            ../img/covers/site-energy.jpg    1x,
            ../img/covers/site-energy@2x.jpg 2x
          "
          src="../img/covers/site-energy.jpg"
          alt="energy-flow-website"
        />
      </li>
      <li class="first-row-item animate">
        <img
          class="covers-image"
          srcset="
            ../img/covers/site-english.jpg    1x,
            ../img/covers/site-english@2x.jpg 2x
          "
          src="../img/covers/site-english.jpg"
          alt="english-excellence-website"
        />
      </li>
      <li class="first-row-item animate">
        <img
          class="covers-image"
          srcset="
            ../img/covers/site-wallet.jpg    1x,
            ../img/covers/site-wallet@2x.jpg 2x
          "
          src="../img/covers/site-wallet.jpg"
          alt="english-excellence-website"
        />
      </li>
      <li class="second-row-item animate">
        <img
          class="covers-image"
          srcset="
            ../img/covers/site-fruits.jpg    1x,
            ../img/covers/site-fruits@2x.jpg 2x
          "
          src="../img/covers/site-fruits.jpg"
          alt="fruit-box-website"
        />
      </li>
      <li class="second-row-item animate">
        <img
          class="covers-image"
          srcset="
            ../img/covers/site-green-harvest.png    1x,
            ../img/covers/site-green-harvest@2x.png 2x
          "
          src="../img/covers/site-green-harvest.png"
          alt="green-harvest-website"
        />
      </li>
      <li class="second-row-item animate">
        <img
          class="covers-image"
          srcset="
            ../img/covers/site-mimino.png    1x,
            ../img/covers/site-mimino@2x.png 2x
          "
          src="../img/covers/site-mimino.png"
          alt="mimino-website"
        />
      </li>
      <li class="second-row-item animate">
        <img
          class="covers-image"
          srcset="
            ../img/covers/site-ehego.jpg    1x,
            ../img/covers/site-ehego@2x.jpg 2x
          "
          src="../img/covers/site-ehego.jpg"
          alt="mimino-website"
        />
      </li>
      <li class="first-row-item animate">
        <img
          class="covers-image"
          srcset="
            ../img/covers/site-power.jpg    1x,
            ../img/covers/site-power@2x.jpg 2x
          "
          src="../img/covers/site-power.jpg"
          alt="power-pulse-website"
        />
      </li>
      <li class="first-row-item animate">
        <img
          class="covers-image"
          srcset="
            ../img/covers/site-starlight.jpg    1x,
            ../img/covers/site-starlight@2x.jpg 2x
          "
          src="../img/covers/site-starlight.jpg"
          alt="starlight-studio-website"
        />
      </li>
      <li class="first-row-item animate">
        <img
          class="covers-image"
          srcset="
            ../img/covers/site-vyshyvanka.jpg    1x,
            ../img/covers/site-vyshyvanka@2x.jpg 2x
          "
          src="../img/covers/site-vyshyvanka.jpg"
          alt="vyshyvanka-website"
        />
      </li>
      <li class="first-row-item animate">
        <img
          class="covers-image"
          srcset="
            ../img/covers/site-energy.jpg    1x,
            ../img/covers/site-energy@2x.jpg 2x
          "
          src="../img/covers/site-energy.jpg"
          alt="vyshyvanka-website"
        />
      </li>
      <li class="second-row-item animate">
        <img
          class="covers-image"
          srcset="
            ../img/covers/site-wallet.jpg    1x,
            ../img/covers/site-wallet@2x.jpg 2x
          "
          src="../img/covers/site-wallet.jpg"
          alt="wallet-website"
        />
      </li>
      <li class="second-row-item animate">
        <img
          class="covers-image"
          srcset="
            ../img/covers/site-ehego.jpg    1x,
            ../img/covers/site-ehego@2x.jpg 2x
          "
          src="../img/covers/site-ehego.jpg"
          alt="ehego-website"
        />
      </li>
      <li class="second-row-item animate">
        <img
          class="covers-image"
          srcset="
            ../img/covers/site-energy.jpg    1x,
            ../img/covers/site-energy@2x.jpg 2x
          "
          src="../img/covers/site-energy.jpg"
          alt="energy-flow-website"
        />
      </li>
    </ul>
  </div>
</section>
