<header class="header">
    <div class="header-container container">
        <div class="logo-header">
            <img src="../img/logo/logotype.svg" alt="header-logo" width="80" height="80">
            <span class="header-span">jefferson*</span>
        </div>
        <div>
            <button class="menu-toggle">Menu</button>
        <nav class="nav-menu" class="hidden">
           <ul>
            <li><a href="#about">About me</a></li>
            <li><a href="#benefits">Benefits</a></li>
            <li><a href="#progects">Progects</a></li>
            <li><a href="#faq">FAQ</a></li>
           </ul>
        </nav>
        </div>

        
        
        <button class="order-button">
            <a href="#work-together">Order the project</a>
        </button>

    </div>
</header>

