<section class="hero">
  <div class="hero-content container">
    <h1 class="title" data-i18n="heroTitle">
      HELLO.<br class="desktop-only" />
      I'M FULLSTACK DEVELOPER LLOYD JEFFERSON
    </h1>
    <ul class="contact">
      <li class="contact-list">
        <a
          href="https://www.instagram.com/goitclub/"
          aria-label="link to Instagram"
          target="_blank"
          rel="noreferrer nofollow"
          >IG
        </a>
      </li>

      <li class="contact-list">
        <a
          href="https://www.facebook.com/goITclub/"
          aria-label="link to Facebook"
          target="_blank"
          rel="noreferrer nofollow"
          >FB
        </a>
      </li>

      <li class="contact-list">
        <a
          href="https://www.youtube.com/c/GoIT"
          aria-label="link to YouTube"
          target="_blank"
          rel="noreferrer nofollow"
          >YT</a
        >
      </li>

      <li class="contact-list">
        <a
          href="https://github.com/MihailShev/developer-portfolio-project"
          aria-label="link to GitHub"
          target="_blank"
          rel="noreferrer nofollow"
          >GH
        </a>
      </li>

      <li>
        <a
          class="email"
          aria-label="Email"
          href="mailto:lloydjefferson@gmail.com"
          >lloydjefferson@gmail.com</a
        >
      </li>
    </ul>
  </div>
</section>
