<div class="modal-overlay is-closed">
  <div class="modal-container">
    <button type="button" class="close-btn" aria-label="Button to close">
      <svg class="modal-exit-btn" width="28" height="28">
        <use href="/img/icons/icons.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="modal-description">
      Thank you for your interest in cooperation!
    </h2>

    <nav>
      <ul class="modal-menu">
        <li><a class="modal-menu-btn" href="#about">About me</a></li>

        <li><a class="modal-menu-btn" href="#benefits">Benefits</a></li>

        <li><a class="modal-menu-btn" href="#projects">Projects</a></li>

        <li><a class="modal-menu-btn" href="#faq">FAQ</a></li>
      </ul>
    </nav>

    <button type="button" class="modal-order-btn">
      <a href="#work-together">Order the project</a>
    </button>
  </div>
</div>
