<nav class="nav-block">
  <input
    type="checkbox"
    href="#"
    class="menu-open"
    name="menu-open"
    id="menu-open"
  />

  <label class="menu-open-button" for="menu-open">
    <span class="lines line-1"></span>
    <span class="lines line-2"></span>
    <span class="lines line-3"></span>
  </label>

  <a href="#" id="theme-toggle" class="menu-item" data-theme-toggle>
    <svg class="icon-menu" width="25" height="25">
      <use href="./img/icons/icon-menu.svg#icon-moon-fill"></use>
    </svg>
  </a>

  <a href="./chat-ai.html" target="_blank" class="menu-item">
    <svg class="icon-menu" width="35" height="65">
      <use href="./img/icons/icon-menu.svg#icon-file-ai"></use>
    </svg>
  </a>

  <a href="#" class="menu-item" data-lang="ua">
    <svg class="icon-menu" width="35" height="65">
      <use href="./img/icons/icon-menu.svg#icon-language"></use>
    </svg>
  </a>
</nav>
