<section class="projects-section" id="projects">
  <div class="container">
    <h2 class="projects-section-title">Projects</h2>
    <div class="projects-swiper">
      <ul class="swiper-wrapper projects-list">
        <li class="swiper-slide">
          <div class="project-item">
            <div class="project-description-wrapper">
              <ul class="project-technologies">
                <li class="project-technology"><p>#react</p></li>
                <li class="project-technology"><p>#js</p></li>
                <li class="project-technology"><p>#node.js</p></li>
                <li class="project-technology"><p>#git</p></li>
              </ul>
              <h3 class="project-title">
                Programming accross borders: ideas, technologies, innovations
              </h3>
              <a
                aria-label="Link to github"
                class="project-link"
                href="https://github.com/MihailShev/developer-portfolio-project"
                target="_blank"
                >See project</a
              >
            </div>
            <div class="project-image-wrapper">
              <picture>
                <source
                  srcset="
                    ./img/projects/desk/site-read-desk.jpg    1x,
                    ./img/projects/desk/site-read-desk@2x.jpg 2x
                  "
                  width="614"
                  height="385"
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/projects/tab/site-read-tab.jpg    1x,
                    ./img/projects/tab/site-read-tab@2x.jpg 2x
                  "
                  width="614"
                  height="385"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/projects/mob/site-read-mob.jpg    1x,
                    ./img/projects/mob/site-read-mob@2x.jpg 2x
                  "
                  width="311"
                  height="195"
                  media="(max-width: 767px)"
                />
                <img
                  class="project-image"
                  src="./img/projects/mob/site-read-mob.jpg"
                  alt="Read Journey"
                  width="311"
                  height="195"
                />
              </picture>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="project-item">
            <div class="project-description-wrapper">
              <ul class="project-technologies">
                <li class="project-technology"><p>#react</p></li>
                <li class="project-technology"><p>#js</p></li>
                <li class="project-technology"><p>#node.js</p></li>
                <li class="project-technology"><p>#git</p></li>
              </ul>
              <h3 class="project-title">
                Programming accross borders: ideas, technologies, innovations
              </h3>
              <a
                aria-label="Link to github"
                class="project-link"
                href="https://github.com/MihailShev/developer-portfolio-project"
                target="_blank"
                >See project</a
              >
            </div>
            <div class="project-image-wrapper">
              <picture>
                <source
                  srcset="
                    ./img/projects/desk/site-pet-desk.jpg    1x,
                    ./img/projects/desk/site-pet-desk@2x.jpg 2x
                  "
                  width="614"
                  height="385"
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/projects/tab/site-pet-tab.jpg    1x,
                    ./img/projects/tab/site-pet-tab@2x.jpg 2x
                  "
                  width="614"
                  height="385"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/projects/mob/site-pet-mob.jpg    1x,
                    ./img/projects/mob/site-pet-mob@2x.jpg 2x
                  "
                  width="311"
                  height="195"
                  media="(max-width: 767px)"
                />
                <img
                  class="project-image"
                  src="./img/projects/mob/site-pet-mob.jpg"
                  alt="Petslove"
                  width="311"
                  height="195"
                />
              </picture>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="project-item">
            <div class="project-description-wrapper">
              <ul class="project-technologies">
                <li class="project-technology"><p>#react</p></li>
                <li class="project-technology"><p>#js</p></li>
                <li class="project-technology"><p>#node.js</p></li>
                <li class="project-technology"><p>#git</p></li>
              </ul>
              <h3 class="project-title">
                Programming accross borders: ideas, technologies, innovations
              </h3>
              <a
                aria-label="Link to github"
                class="project-link"
                href="https://github.com/MihailShev/developer-portfolio-project"
                target="_blank"
                >See project</a
              >
            </div>
            <div class="project-image-wrapper">
              <picture>
                <source
                  srcset="
                    ./img/projects/desk/site-vocab-desk.jpg    1x,
                    ./img/projects/desk/site-vocab-desk@2x.jpg 2x
                  "
                  width="614"
                  height="385"
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/projects/tab/site-vocab-tab.jpg    1x,
                    ./img/projects/tab/site-vocab-tab@2x.jpg 2x
                  "
                  width="614"
                  height="385"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/projects/mob/site-vocab-mob.jpg    1x,
                    ./img/projects/mob/site-vocab-mob@2x.jpg 2x
                  "
                  width="311"
                  height="195"
                  media="(max-width: 767px)"
                />
                <img
                  class="project-image"
                  src="./img/projects/mob/site-vocab-mob.jpg"
                  alt="VocabBuilder"
                  width="311"
                  height="195"
                />
              </picture>
            </div>
          </div>
        </li>
      </ul>
      <div class="projects-nav-buttons">
        <button
          type="button"
          class="project-nav-button projects-swiper-button-prev"
          aria-label="See previous project"
        >
          <svg class="projects-arrow-icon">
            <use href="./img/icons/icons.svg#icon-arrow-prew"></use>
          </svg>
        </button>
        <button
          type="button"
          class="project-nav-button projects-swiper-button-next"
          aria-label="See next project"
        >
          <svg class="projects-arrow-icon">
            <use href="./img/icons/icons.svg#icon-arrow-next"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
