<section class="projects-section" id="projects">
  <div class="container">
    <h2 class="projects-section-header">Projects</h2>
    <div class="projects-swiper">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
          <div class="project-description-wrapper">
            <ul class="project-technologies">
              <li class="project-technology">#react</li>
              <li class="project-technology">#js</li>
              <li class="project-technology">#node.js</li>
              <li class="project-technology">#git</li>
            </ul>
            <h3 class="project-header">
              Programming accross borders: ideas, technologies, innovations
            </h3>
            <a
              aria-label="Link to github"
              class="project-link"
              href="https://github.com/MihailShev/developer-portfolio-project"
              target="_blank"
              >See project</a
            >
          </div>
          <div class="project-image-wrapper">
            <picture>
              <source
                srcset="
                  ./img/projects/desk/site-read-desk.jpg    1x,
                  ./img/projects/desk/site-read-desk@2x.jpg 2x
                "
                width="614"
                height="385"
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./img/projects/tab/site-read-tab.jpg    1x,
                  ./img/projects/tab/site-read-tab@2x.jpg 2x
                "
                width="614"
                height="385"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/projects/mob/site-read-mob.jpg    1x,
                  ./img/projects/mob/site-read-mob@2x.jpg 2x
                "
                width="311"
                height="195"
                media="(max-width: 767px)"
              />
              <img
                class="project-image"
                src="./img/projects/mob/site-read-mob.jpg"
                alt="Read Journey"
                width="311"
                height="195"
              />
            </picture>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="project-description-wrapper">
            <ul class="project-technologies">
              <li class="project-technology">#react</li>
              <li class="project-technology">#js</li>
              <li class="project-technology">#node.js</li>
              <li class="project-technology">#git</li>
            </ul>
            <h3 class="project-header">
              Programming accross borders: ideas, technologies, innovations
            </h3>
            <a
              aria-label="Link to github"
              class="project-link"
              href="https://github.com/MihailShev/developer-portfolio-project"
              target="_blank"
              >See project</a
            >
          </div>
          <div class="project-image-wrapper">
            <picture>
              <source
                srcset="
                  ./img/projects/desk/site-pet-desk.jpg    1x,
                  ./img/projects/desk/site-pet-desk@2x.jpg 2x
                "
                width="614"
                height="385"
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./img/projects/tab/site-pet-tab.jpg    1x,
                  ./img/projects/tab/site-pet-tab@2x.jpg 2x
                "
                width="614"
                height="385"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/projects/mob/site-pet-mob.jpg    1x,
                  ./img/projects/mob/site-pet-mob@2x.jpg 2x
                "
                width="311"
                height="195"
                media="(max-width: 767px)"
              />
              <img
                class="project-image"
                src="./img/projects/mob/site-pet-mob.jpg"
                alt="Petslove"
                width="311"
                height="195"
              />
            </picture>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="project-description-wrapper">
            <ul class="project-technologies">
              <li class="project-technology">#react</li>
              <li class="project-technology">#js</li>
              <li class="project-technology">#node.js</li>
              <li class="project-technology">#git</li>
            </ul>
            <h3 class="project-header">
              Programming accross borders: ideas, technologies, innovations
            </h3>
            <a
              aria-label="Link to github"
              class="project-link"
              href="https://github.com/MihailShev/developer-portfolio-project"
              target="_blank"
              >See project</a
            >
          </div>
          <div class="project-image-wrapper">
            <picture>
              <source
                srcset="
                  ./img/projects/desk/site-vocab-desk.jpg    1x,
                  ./img/projects/desk/site-vocab-desk@2x.jpg 2x
                "
                width="614"
                height="385"
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./img/projects/tab/site-vocab-tab.jpg    1x,
                  ./img/projects/tab/site-vocab-tab@2x.jpg 2x
                "
                width="614"
                height="385"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/projects/mob/site-vocab-mob.jpg    1x,
                  ./img/projects/mob/site-vocab-mob@2x.jpg 2x
                "
                width="311"
                height="195"
                media="(max-width: 767px)"
              />
              <img
                class="project-image"
                src="./img/projects/mob/site-vocab-mob.jpg"
                alt="VocabBuilder"
                width="311"
                height="195"
              />
            </picture>
          </div>
        </li>
      </ul>
      <div class="projects-nav-buttons">
        <div class="projects-swiper-button-prev">
          <svg class="projects-arrow-icon">
            <use href="./img/icons/icons.svg#icon-arrow-right"></use>
          </svg>
        </div>
        <div class="projects-swiper-button-next">
          <svg class="projects-arrow-icon">
            <use href="./img/icons/icons.svg#icon-arrow-next"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
