<section class="reviews" id="reviews">
  <div class="container">
    <h2 class="reviews-title" data-i18n="review">Reviews</h2>
    <div class="reviews-wrapper">
      <div class="loader-wrapper visible">
        <div class="loader reviews-item">
          <div class="wrapper">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="shadow"></div>
            <div class="shadow"></div>
            <div class="shadow"></div>
          </div>
        </div>
        <div class="loader reviews-item tablet">
          <div class="wrapper">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="shadow"></div>
            <div class="shadow"></div>
            <div class="shadow"></div>
          </div>
        </div>
        <div class="loader reviews-item desctop">
          <div class="wrapper">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="shadow"></div>
            <div class="shadow"></div>
            <div class="shadow"></div>
          </div>
        </div>
        <div class="loader reviews-item desctop">
          <div class="wrapper">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="shadow"></div>
            <div class="shadow"></div>
            <div class="shadow"></div>
          </div>
        </div>
      </div>
      <ul class="reviews-list swiper-wrapper"></ul>
    </div>
    <div class="reviews-buttons">
      <button
        class="rev-swiper-button-prev rev-btn"
        type="button"
        aria-label="Previous reviews"
      >
        <svg class="rev-prev" width="24" height="24">
          <use href="./img/icons/icons.svg#icon-arrow-prew"></use>
        </svg></button
      ><button
        class="rev-swiper-button-next rev-btn"
        type="button"
        aria-label="Next reviews"
      >
        <svg class="rev-next" width="24" height="24">
          <use href="./img/icons/icons.svg#icon-arrow-next"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
