:root {
  --orange-color: #ff7f08;
  --dark-green-color: #2b4441;
  --pink-color: #e6533c;
  --blue-color: #0041e8;
  --green-color: #c6e327;
  --red-color: #ed3b44;
  --background-color: #1c1d20;
  --text-color: #fafafa;
  --shadow-text-color: rgba(250, 250, 250, 0.4);
  --main-font-family: 'Inter Tight', serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-font-family);
  background-color: var(--background-color);
  color: var(--text-color);
}

svg {
  display: block;
}

button {
  font-family: var(--main-font-family);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.shadow-text {
  color: var(--shadow-text-color);
}

ul, ol, h1, h2, h3, h4, h5, h6
{
  margin: 0;
  padding: 0;
  list-style-type: none;
}