/*======== BASE STYLES ========*/
.covers-section {
  height: 508px;
  position: relative;
  background-image: url('../img/covers/mobile-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  overflow: hidden;
}

@media (min-resolution: 192dpi) {
  .covers-section {
    background-image: url('../img/covers/mobile-bg@2x.png');
  }
}

.covers-list {
  width: 1203px;
  height: 508px;
  display: flex;
  transform: rotate(17deg);
  flex-wrap: wrap;
  gap: 25px;
}

.first-row-item,
.second-row-item {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.animate {
  animation-name: marqueeLine;
}

.animateReverse {
  animation-name: marqueeLineReverse;
}

.covers-image {
  width: 282px;
  height: 162px;
}
/*======== BASE STYLES ========*/
/*======== TABLET STYLES ========*/
@media (min-width: 768px) {
  .covers-section {
    height: 960px;
    background-image: url('../img/covers/tablet-bg.png');
  }

  .covers-list {
    width: 2281px;
    height: 960px;
    gap: 35px;
  }

  .covers-image {
    width: 544px;
    height: 314px;
  }
}

@media (min-width: 768px) and (min-resolution: 192dpi) {
  .covers-section {
    background-image: url('../img/covers/tablet-bg@2x.png');
  }
}
/*======== TABLET STYLES ========*/
/*======== DESKTOP STYLES ========*/
@media (min-width: 1440px) {
  .covers-section {
    background-image: url('../img/covers/desktop-bg.png');
  }

  .covers-list {
    width: 2356px;
    gap: 45px;
  }
}

@media (min-width: 1440px) and (min-resolution: 192dpi) {
  .covers-section {
    background-image: url('../img/covers/desktop-bg@2x.png');
  }
}
/*======== DESKTOP STYLES ========*/
