.hero {
  background-image: url(../img/hero/hero-bg.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 281px;
  padding-bottom: 32px;
}

.title {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: -0.03em;
  line-height: 1;
  font-size: 50px;
  text-align: left;
  margin-bottom: 212px;
  color: var(--textIn-dark-bg);
}

.contact {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 4px;
}

.contact-list {
  padding: 10px;
  border-radius: 60px;
  font-size: 14px;
  width: 37px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid rgba(250, 250, 250, 0.2);
  transition: border 250ms ease-in;
  color: var(--textIn-dark-bg);
}

.email:hover,
.email:focus,
.contact-list:hover,
.contact-list:focus {
  border-color: #dedede;
}

.email {
  padding: 10px 17px;
  border-radius: 60px;
  font-size: 14px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 178px;
  height: 37px;
  transition: border 250ms ease-in;
  color: var(--textIn-dark-bg);
}

@media screen and (min-resolution: 192dpi) {
  .hero {
    background-image: url(../img/hero/hero-bg@2x.webp);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 300px;
  }

  .contact {
    gap: 8px;
  }

  .contact-list {
    width: 55px;
    height: 55px;
    font-size: 16px;
  }

  .email {
    width: 203px;
    height: 55px;
    padding: 10px 8px;
    font-size: 16px;
  }

  .title {
    margin-bottom: 187px;
    font-size: 90px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-content.container {
    padding-left: 178px;
  }

  .contact-list {
    width: 55px;
    height: 55px;
  }

  .email {
    width: 203px;
    height: 55px;
    padding: 10px 8px;
  }

  .title {
    width: 1084px;
    margin-bottom: 243px;
  }
}
