.reviews {
  padding-top: 64px;
  padding-bottom: 64px;
}
.reviews-wrapper {
  overflow: hidden;
  display: flex;
  position: relative;
}
.loader-wrapper {
  position: absolute;
  gap: 16px;
  width: 343px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 9px;
}
.visible {
  margin: 0;
  padding: 0;
  white-space: normal;
  clip-path: none;
  clip: auto;
  overflow: visible;
  transition: opacity 200ms ease-in;
}
.loader {
  height: 352px;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 111;
}
.reviews-title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: var(--shadow-text-color);
}
.reviews-list {
  margin: 32px 0;
  display: flex;
  max-width: 343px;
  gap: 16px;
  height: 352px;
}
.reviews-list .reviews-item,
.loader-wrapper .reviews-item {
  width: 343px;
  min-height: 352px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 20px;
  padding: 32px 24px;
  transition: transform 200ms ease-in, border-color 200ms ease-in;
}
.reviews-list .swiper-slide:hover {
  border-color: var(--text-color);
  transform: translateY(-5px);
}
.reviews-img {
  width: 48px;
  border-radius: 10px;
  margin-bottom: 32px;
}
.reviews-name {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
}
.reviews-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}
.reviews-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.rev-swiper-button-prev,
.rev-swiper-button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(250, 250, 250, 0.5);
  border-radius: 60px;
  padding: 14px;
  width: 52px;
  height: 52px;
  transition: border-color 200ms ease-in;
}

.rev-swiper-button-prev:hover,
.rev-swiper-button-prev:focus,
.rev-swiper-button-next:hover,
.rev-swiper-button-next:focus {
  border-color: #dedede;
}

.rev-swiper-button-prev:disabled,
.rev-swiper-button-next:disabled {
  border-color: rgba(250, 250, 250, 0.2);
  cursor: default;
}
.rev-prev,
.rev-next {
  fill: var(--text-color);
  transition: fill 200ms ease-in;
}
.disable-btn {
  border: 1px solid rgba(250, 250, 250, 0.2);
  cursor: default;
}
.swiper-button-disabled .rev-prev,
.swiper-button-disabled .rev-next,
.disable-btn .rev-prev,
.disable-btn .rev-next {
  fill: #3b3b3b;
}
.error-title {
  margin-bottom: 60px;
}
.error-text {
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
}
.reviews-img-err {
  stroke: #aaa;
}
.tablet,
.desctop {
  display: none;
}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .reviews {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .reviews-list .reviews-item,
  .loader-wrapper .reviews-item {
    max-width: 344px;
  }
  .reviews-list {
    min-width: 704px;
  }
  .reviews-buttons {
    gap: 20px;
  }
  .rev-swiper-button-prev,
  .rev-swiper-button-next {
    width: 68px;
    height: 68px;
  }
  .tablet {
    display: flex;
    flex-direction: column;
  }
  .loader-wrapper {
    width: 704px;
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .reviews {
    padding-top: 164px;
    padding-bottom: 164px;
  }
  .reviews-list .reviews-item,
  .loader-wrapper .reviews-item {
    max-width: 332px;
  }
  .reviews-list {
    min-width: 1376px;
  }
  .desctop {
    display: flex;
    flex-direction: column;
  }
  .loader-wrapper {
    width: 1376px;
  }
}

/*!!!!!! LOADER !!!!!!*/
.wrapper {
  width: 200px;
  height: 60px;
  position: relative;
  z-index: 1;
}

.circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  left: 15%;
  transform-origin: 50%;
  animation: circle7124 0.5s alternate infinite ease;
}

.circle:nth-child(2) {
  left: 45%;
  animation-delay: 0.2s;
}

.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow046 0.5s alternate infinite ease;
}

@keyframes shadow046 {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }

  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}

.shadow:nth-child(4) {
  left: 45%;
  animation-delay: 0.2s;
}

.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

/*!!!!!! /LOADER !!!!!!*/
